# these settings can be overriden on the command line,
# e.g. make BUILD_DIR=$(PWD)/my-build-folder
# NOTE: it is important for BUILD_DIR to be absolute (hence the $(PWD) path)
# PREFIX is to be used only with install and maven-install: make install PREFIX=/my/installation/path
BUILD_DIR=$(PWD)/build
PREFIX=/usr/local

# if pkg-config is available on your system, just use it;
# otherwise, you'll need to find the installation path
# of your lua library and to set the following variables
# accordingly (lua.h must be available, you may want
# to install the 'dev' version of the library)
#LUA_INCLUDES=-I/path/to/lua/include
#LIB_LUA=-L/path/to/lua/lib -llua

LUA_INCLUDES=`pkg-config --cflags-only-I lua`
LIB_LUA=`pkg-config --libs lua`

# custom flags can be added here
#JAVAC_FLAGS=-Xlint:unchecked -Xlint:deprecation

# you can leave this line commented if your environment defines JAVA_HOME
#JAVA_HOME=/path/to/your/jdk
